---
layout: default
---

<div class="home">

    <h1>Endpoints</h1>

    <ul class=""> 
        {% for page in site.pages %}
        {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}/">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <br/>
    <p class="rss-subscribe">Get Postman Collection: 
        <a href="https://www.getpostman.com/collections/e712caa2795b17ae8ced" target="_new()" >
            https://www.getpostman.com/collections/e712caa2795b17ae8ced
        </a>
    </p>

</div>
